[submodule "socket/lib/solady"]
	path = socket/lib/solady
	url = https://github.com/vectorized/solady
[submodule "socket/lib/forge-std"]
	path = socket/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
